.logo {
display: block;
margin-left: auto;
margin-right: auto;
width: 15%;
}

.jumbotron{
display: flex;
align-items: center;
background-color: #CAC292;
}

.jumbotronInner {
margin-bottom: 20px;
}

.nav-p {
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
margin-top: 5px;
}

.nav-p p {
color:black;
font-weight: 200;
font-size: 110%;
}

.linkContainer {
display: flex;
justify-content: center;
flex-direction: column;
background-color: #1F2833;
}

.navlinks {
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 20px;
margin-bottom: 10px;

}

.navlinks ul {
list-style-type: none;
color: white;
}

.navlinks a {
text-decoration: none;
/* color: #66FCF1; */
color: #C5C6C7;
}

.navlinks a:hover {
    color: #66FCF1;
}

@media only screen and (max-width:800px) {
    * {
        border: 0;
        margin: 0;
    }

    .logo {
        width: 40%;
    }

    .jumbotronInner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10%;
        margin-left: 0;
    }

    .navlinks {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-evenly;
        /* margin: 0; */
        padding: 0;
        border: none;
    }

    .linkContainer {
        display: flex;
        /* align-items: center; */
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }
}