/* ------- Leagues page ------- */
.mainLeagues {
    /* background-color: #FBEEC1; */
    background-color: #C5C6C7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin: 0px;
    padding: 5%;
    /* height: 55vh;     */
    height: 80%;
}

/* ------- end of Leagues page ------- */

/* ------- Tournament page ------- */
.mainTournament {
    /* background-color: #FBEEC1; */
    background-color: #C5C6C7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin: 0px;
    padding: 5%;
    /* height: 55vh;     */
    height: 80%;
}

/* ------- end of Tournament page ------- */

/* ------- Rules page ------- */
.mainRules {
    /* background-color: #FBEEC1; */
    background-color: #C5C6C7;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: space-around;
    /* flex-wrap: wrap; */
    margin: 0px;
    padding: 5%;
    /* height: 55vh;     */
    height: 50vh;
}

/* ------- end of Rules page ------- */



.main2 {
   margin: 10px;
}