/* ------- Leagues page ------- */
.mainLeagues {
    /* background-color: #FBEEC1; */
    background-image: linear-gradient( #5AB9EA, #8860D0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin: 0px;
    padding: 5%;
    /* height: 55vh;     */
    height: 80%;
}

/* ------- end of Leagues page ------- */

/* ------- Tournament page ------- */
.mainTournament {
    /* background-color: #FBEEC1; */
    background-image: linear-gradient( #5AB9EA, #8860D0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin: 0px;
    padding: 5%;
    /* height: 55vh;     */
    height: 80%;
}

/* ------- end of Tournament page ------- */

/* ------- Rules page ------- */
.mainRules {
    /* background-color: #FBEEC1; */
    /* background-color: #C5C6C7; */
    background-image: linear-gradient( #5AB9EA, #8860D0);
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: space-around;
    /* flex-wrap: wrap; */
    margin: 0px;
    padding: 5%;
    /* height: 50vh; */
}

.mainRules1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* align-items: flex-start; */
}

.mainRules2 {
   margin: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.mainRules2 h1 {
    /* color: whitesmoke; */
    font-family: playfair, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainRules2 a {
    color: whitesmoke;
    text-decoration: none;
}

.mainRules2 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   /* color: black;  */
}
.mainRules2 a:hover {
    /* color: aliceblue; */
    color: #66FCF1;
}

/* ------- end of Rules page ------- */

/* ------- Open Play page ------- */
.mainOpenPlay {
    background-image: linear-gradient( #5AB9EA, #8860D0);
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ------- end of Open Play page ------- */

/* ------- Schedule page ------- */
.mainSchedule {
    background-image: linear-gradient( #5AB9EA, #8860D0);
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ------- end of Schedule page ------- */

/* ------- Free Agent page ------- */
.mainFreeAgent {
    background-image: linear-gradient( #5AB9EA, #8860D0);
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ------- end of Free Agent page ------- */

/* ------- Signup page ------- */
.mainSignup {
    background-image: linear-gradient( #5AB9EA, #8860D0);
    padding: 5%;
}
/* ------- end of Signup page ------- */

.mainLogin {
    background-image: linear-gradient( #5AB9EA, #8860D0);
    padding: 5%;
}
/* ------- end of Signup page ------- */

/* ------- Contact page ------- */
.mainContact {
    background-image: linear-gradient( #5AB9EA, #8860D0);
    /* height: 50vh; */
    display: flex;
    padding: 50px;
}

.contactTitle {
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 30px;
    margin-right: 48%;
}

.contactForm {
    /* flex: 1; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: black solid 1px; */
    /* background-color: whitesmoke; */
    /* padding: 5%; */
    /* position: absolute; */
    height: 100%;
    max-height: 500px;
    max-width: 50%;
}

form {
    margin: 30px 0px;
}

input {
    width: 70%;
    height: 50px;
    border: none;
    border-bottom: 2px;
    margin: 10px 0px;
    font-size: 12px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 12px;
    padding-left: 10px;
    /* border: 1px solid black; */
}

button {
    border: none;
    padding: 15px;
    background-color: #66f0e7;
    font-weight: 500;
    cursor: pointer;
}
/* ------- end of Contact page ------- */