body {
  margin: 0;
  padding: 0;
}

.jumbotron{
  display: flex;
  align-items: center;
  background-color: #CAC292;
}

.nav-p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

.carouselContainer {
  display: block;
}

.linkContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #333333;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

